<div class="container">
  <h1>Job Application Tracker Privacy policy</h1>
  <hr>
  <p>This privacy policy applies between you, the User of this Website and Miguel Frias trading as Job Application
    Tracker, the owner and provider of this Website. Miguel Frias trading as Job Application Tracker takes the privacy
    of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or
    provided by you in relation to your use of the Website.</p>
  <p><strong>Please read this privacy policy carefully.</strong></p>
  <h4>Definitions and interpretation</h4>
  <p>1. In this privacy policy, the following definitions are used:</p>
  <table class="table table-striped">
    <tr>
      <th>Data</th>
      <td>collectively all information that you submit to Miguel Frias trading as Job Application Tracker via the
        Website.
        This definition incorporates, where applicable, the definitions provided in the Data Protection Laws;
      </td>
    </tr>
    <tr>
      <th>Data Protection Laws</th>
      <td>any applicable law relating to the processing of personal Data, including but not limited to the
        Directive 96/46/EC (Data Protection Directive) or the GDPR, and any national implementing laws, regulations and
        secondary legislation, for as long as the GDPR is effective in the UK;
      </td>
    </tr>
    <tr>
      <th>GDPR</th>
      <td>the General Data Protection Regulation (EU) 2016/679;</td>
    </tr>
    <tr>
      <th>Miguel Frias Mosquea trading as Job Application Tracker, or us</th>
      <td>Miguel Frias trading as Job Application Tracker of 56 Brouncker
        Road, London, w38aq;
      </td>
    </tr>
    <tr>
      <th>User or you any</th>
      <td>third party that accesses the Website and is not either (i) employed by Miguel Frias trading as Job
        Application Tracker and acting in the course of their employment or (ii) engaged as a consultant or otherwise
        providing services to Miguel Frias trading as Job Application Tracker and accessing the Website in connection
        with the
        provision of such services; and
      </td>
    </tr>
    <tr>
      <th>Website</th>
      <td>the website that you are currently using, www.jobapplicationtracker.site, and any sub-domains of this site
        unless expressly excluded by their own terms and conditions.
      </td>
    </tr>
  </table>
  <p>2. In this privacy policy, unless the context requires a different interpretation:</p>
  <ol type="a">
    <li>the singular includes the plural and vice versa;</li>
    <li>references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or
      appendices of
      this privacy policy;
    </li>
    <li>a reference to a person includes firms, companies, government entities, trusts and partnerships;</li>
    <li>"including" is understood to mean "including without limitation";</li>
    <li>reference to any statutory provision includes any modification or amendment of it;</li>
    <li>the headings and sub-headings do not form part of this privacy policy.</li>
  </ol>
  <h4>Scope of this privacy policy</h4>
  <p>3. This privacy policy applies only to the actions of Miguel Frias trading as Job Application Tracker and Users with
  respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not
    limited to, any links we may provide to social media websites.</p>
  <p>4. For purposes of the applicable Data Protection Laws, Miguel Frias trading as Job Application Tracker is the "data
  controller". This means that Miguel Frias trading as Job Application Tracker determines the purposes for which, and
  the manner in which, your Data is processed.</p>
  <h4>Data collected</h4>
  <p>5. We may collect the following Data, which includes personal Data, from you:</p>
  <ol type="a">
    <li>contact information such as email address and postcode</li>
    <li>in each case, in accordance with this privacy policy.</li>
  </ol>
  <h4>How we collect Data</h4>
  <p>6. We collect Data in the following ways:</p>
  <ol type="a">
    <li>data is given to us by you; and</li>
  </ol>
  <h4>Data that is given to us by you</h4>
  <p>7. Miguel Frias Mosquea trading as Job Application Tracker will collect your Data in a number of ways, for example:</p>
  <ol type="a">
    <li>when you contact us through the Website, by telephone, post, e-mail or through any other means;</li>
    <li>when you register with us and set up an account to receive our products/services;</li>
  </ol>
  in each case, in accordance with this privacy policy.
  <h4>Data that is collected automatically</h4>
  <p>8. To the extent that you access the Website, we will collect your Data automatically, for example:</p>
  <ol type="a">
    <li>we automatically collect some information about your visit to the Website. This information helps us to make
      improvements to Website content and navigation, and includes your IP address, the date, times and frequency with which
      you access the Website and the way you use and interact with its content.</li>
  </ol>
  <h4>Our use of Data</h4>
  <p>9. Any or all of the above Data may be required by us from time to time in order to provide you with the best possible
  service and experience when using our Website. Specifically, Data may be used by us for the following reasons:</p>
  <ol type="a">
    <li>your email is used to create a unique user account and your postcode to provide you with distances to job
      locations;</li>
  </ol>
  <p>in each case, in accordance with this privacy policy.</p>
  <p>10. We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests. If you
  are not satisfied with this, you have the right to object in certain circumstances (see the section headed "Your
  rights" below).</p>
  <p>11. When you register with us and set up an account to receive our services, the legal basis for this processing is
  the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.</p>
  <h4>Keeping Data secure</h4>
  <p>12. We will use technical and organisational measures to safeguard your Data, for example:</p>
    <ol type="a">
      <li>access to your account is controlled by a password and a user name that is unique to you.</li>
      <li>we store your Data on secure servers.</li>
    </ol>
  <p>13. Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any
  misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail
  address: maikel@maikel.uk.</p>
  <p>14. If you want detailed information from Get Safe Online on how to protect your information and your computers and
  devices against fraud, identity theft, viruses and many other online problems, please visit www.getsafeonline.org. Get
  Safe Online is supported by HM Government and leading businesses.</p>
  <h4>Data retention</h4>
  <p>15. Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for
  the period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be
  deleted.</p>
  <p>16. Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.</p>
  <h4>Your rights</h4>
  <p>17. You have the following rights in relation to your Data:</p>
      <ol type="a">
        <li>Right to access - the right to request (i) copies of the information we hold about you at any time, or (ii) that we
          modify, update or delete such information. If we provide you with access to the information we hold about you, we will
          not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally permitted to
          do so, we may refuse your request. If we refuse your request, we will tell you the reasons why.</li>
        <li>Right to correct - the right to have your Data rectified if it is inaccurate or incomplete.</li>
        <li>Right to erase - the right to request that we delete or remove your Data from our systems.</li>
        <li>Right to restrict our use of your Data - the right to "block" us from using your Data or limit the way in which we
          can use it.</li>
        <li>Right to data portability - the right to request that we move, copy or transfer your Data.</li>
        <li>Right to object - the right to object to our use of your Data including where we use it for our legitimate
          interests.</li>
      </ol>
  <p>18. To make enquiries, exercise any of your rights set out above, or withdraw your consent to the processing of your
  Data (where consent is our legal basis for processing your Data), please contact us via this e-mail address:
  maikel@maikel.uk.</p>
  <p>19. If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you may be
  able to refer your complaint to the relevant data protection authority. For the UK, this is the Information
  Commissioner's Office (ICO). The ICO's contact details can be found on their website at https://ico.org.uk/.</p>
  <p>20. It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data
  changes during the period for which we hold it.</p>
  <h4>Links to other websites</h4>
  <p>21. This Website may, from time to time, provide links to other websites. We have no control over such websites and
  are not responsible for the content of these websites. This privacy policy does not extend to your use of such
  websites. You are advised to read the privacy policy or statement of other websites prior to using them.</p>
  <h4>Changes of business ownership and control</h4>
  <p>22. Miguel Frias trading as Job Application Tracker may, from time to time, expand or reduce our business and this may
  involve the sale and/or the transfer of control of all or part of Miguel Frias trading as Job Application Tracker.
  Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along
  with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted
  to use the Data for the purposes for which it was originally supplied to us.</p>
  <p>23. We may also disclose Data to a prospective purchaser of our business or any part of it.</p>
  <p>24. In the above instances, we will take steps with the aim of ensuring your privacy is protected.</p>
  <h4>General</h4>
  <p>25. You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights
  under this privacy policy where we reasonably believe your rights will not be affected.</p>
  <p>26. If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is
  invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be
  deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.</p>
  <p>27. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a
  waiver of that, or any other, right or remedy.</p>
  <p>28. This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising
  under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.</p>
  <h4>Changes to this privacy policy</h4>
  <p>29. Miguel Frias trading as Job Application Tracker reserves the right to change this privacy policy as we may deem
  necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and
  you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the
  alterations.</p>

  <p>You may contact Miguel Frias trading as Job Application Tracker by email at maikel@maikel.uk.</p>
  <h4>Attribution</h4>
  <p>30. This privacy policy was created using a document from Rocket Lawyer (https://www.rocketlawyer.co.uk).</p>
  <p><strong>16 September 2018</strong></p>
</div>
