<div class="login-dark">
  <div class="container">
    <app-topbar [email]="theUser.email" (doLogout)="logout()"></app-topbar>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">Actions</div>
          <div class="panel-body">
            <div class="text-center">
              <button (click)="openWindow(template, aJobApp, 'CREATE')" type="submit" class="btn btn-sm btn-primary">
                Create New
                Application
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">Job Applications
            <p class="pull-right">Sort by
              <button class="btn btn-xs btn-primary" [ngClass]="{'bold': isSortedByDate }" (click)="sortByDate()">Date
              </button>
              /
              <button class="btn btn-xs btn-primary" [ngClass]="{'bold': !isSortedByDate }" (click)="sortByDistance()">
                Distance
              </button>
            </p>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Role Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Date Applied</th>
                <th scope="col">Location</th>
                <th scope="col">Distance</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let jobapp of theJAs">
                <th scope="row" (click)="openWindow(template2, jobapp, 'AMEND')">{{jobapp.roleName}}</th>
                <td>{{jobapp.companyName}}</td>
                <td>{{jobapp.dateApplied}}</td>
                <td>{{jobapp.location}}</td>
                <td>{{formatNice(jobapp.distance)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--This is the modal window to create a job application-->
  <ng-template #template>
    <form>
      <!-- The header -->
      <div class="modal-header">
        <h4 class="modal-title pull-left">New Job Application</h4>
        <button type="button" class="close pul-right" aria-label="Close" (click)="modalRef.hnamee()">
          <span aria-hnameden="true">x</span>
        </button>
      </div>
      <!-- The body with the form -->
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.roleName' placeholder="Role Name" name="rolename">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.companyName' placeholder="Company" name="company">
        </div>
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]='aJobApp.notes' rows="5" placeholder="Notes" name="notes"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.location' placeholder="Location (postcode)" name="postcode">
        </div>
        <div class="form-group">
          <label for="dateApplied">Date applied</label>
          <input type="date" class="form-control" [(ngModel)]='aJobApp.dateApplied' id="dateApplied" name="dateApplied">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.referenceLetterName' name="referenceLetter" placeholder="Reference Letter File Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.cvUsedName' name="cvused" placeholder="CV File Name">
        </div>
        <button (click)="modalRef.hide()" type="submit" class="btn btn-danger">Back</button>
        <button (click)="sendJA()" class="btn btn-primary pull-right">Send</button>


      </div>
    </form>
  </ng-template>

  <!--This is the modal window to create a job application-->
  <ng-template #template2>
    <form>
      <!-- The header -->
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modify Job Application</h4>
        <button type="button" class="close pul-right" aria-label="Close" (click)="modalRef.hnamee()">
          <span aria-hnameden="true">x</span>
        </button>
      </div>

      <!-- The body with the form -->
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.roleName' placeholder="Role Name" name="rolenameChange">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.companyName' placeholder="Company" name="companyChange">
        </div>
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]='aJobApp.notes' rows="5" placeholder="Notes" name="notesChange"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.location' placeholder="Location (postcode)" name="postcodeChange">
        </div>
        <div class="form-group">
          <label for="dateAppliedChange">Date applied</label>
          <input type="date" class="form-control" [(ngModel)]='aJobApp.dateApplied' id="dateAppliedChange" name="dateAppliedChange">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.referenceLetterName' name="referenceLetterChange" placeholder="Reference Letter File Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]='aJobApp.cvUsedName' name="cvusedChange" placeholder="CV File Name">
        </div>
        <button (click)="modalRef.hide()" type="submit" class="btn btn-primary">Back</button>
        <div class="btn-group pull-right">

          <button (click)="amendJA()" class="btn btn-primary">Change</button>
          <button (click)="deleteJA()" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </ng-template>
</div>
