<div class="login-dark">
  <form>
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <div class="form-group">
      <input id="email" (keyup)='validate(email, password)' type="email" class="form-control" placeholder="Email"
             name="email"
             #email>
    </div>
    <div class="form-group">
      <input (keyup)='validate(email, password)' type="password" class="form-control" id="password" name="password"
             placeholder="Password" #password>
    </div>
    <div class="form-group" *ngIf="isSignup">
      <input (keyup)='validate(email, password)' type="text" class="form-control" id="postcode" name="postcode"
             placeholder="Postcode" [(ngModel)]="postcode">
    </div>
    <div *ngIf="isSignup" class="checkbox">
      <label><input name="tandcs" type="checkbox" (change)='validate(email, password)' [(ngModel)]="tandcs">You have read and accepted our <a target="_blank" routerLink="/terms">Privacy Policy</a></label>
    </div>
    <div class="form-group">
      <button [disabled]='isButtonDisabled' (click)="logUser(email.value,password.value)" type="submit"
              class="btn btn-primary btn-block">{{buttonText}}
      </button>
    </div>
    <a *ngIf="!isSignup" class="forgot" (click)="changeToLogin()" name="registerButton">Register</a>
    <a *ngIf="isSignup" class="forgot" (click)="changeToLogin()" name="changetoLoginButton">Already registered?</a><br>
    <a *ngIf="!isSignup" href="#" class="forgot" name="forgotEmailButton">Forgot your email or password?</a></form>
</div>


