/* You can add global styles to this file, and also import other style files */
.panel, .modal-header, .modal-body, .panel .panel-heading, .navbar, .navbar .navbar-brand{
  background-color: #1e2833;
  color: #fff;
  border: none;
  border: 0px;
}

.form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}


