<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Job Aplication Tracker for {{email}}</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-btn navbar-text" (click)="logout()">
        <button class="btn btn-sm btn-primary">Log out</button></li>
    </ul>
    </div>
</nav>
